.centreText {
    text-align: center;
  }
  
  h1 {
    font-size: 130px;
  }
  
  .dropZone {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 51vh;
    background-color: #97abf8;
    border-radius: 20px;
    color: rgb(48, 39, 39);
  }
  
  .image1 {
    max-width: 100%;
    height: 50vh;
  }
  
  .dank {
    display:flex;
    justify-content:center;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .dropZoneText {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }